.GrowthBlock {
  flex: 0 0 24rem;
  background: white;
}

.GrowthBlock ul {
  list-style: none;
}

.GrowthBlock li:not(:last-of-type) {
  margin: 0 0 .5rem;
}

.GrowthBlock__title {

}

.GrowthBlock__contents {
  font-size: 92.5%;
}
