@import 'pluton.css/settings';
@import 'pluton.css/generic';
@import 'pluton.css/elements';
@import 'pluton.css/objects';

@import './components/header.css';
@import './components/growthblock.css';

@import 'pluton.css/utilities';


:root {
  --headlines: var(--default);
  --body-text: var(--default);
  --default: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace, Courier;
}

html {
  background: #132D40;
  color: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #51B4E8;
}
