<head>
  <meta charset="utf-8">

  {{#if permalink}}
    <title>{{ title }} | {{ site }}</title>
  {{ else }}
    <title>{{ title }}</title>
  {{/if}}
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>
