<head>
  <meta charset="utf-8">

  {{#if permalink}}
    <title>{{ title }} | {{ site }}</title>
  {{ else }}
    <title>{{ title }}</title>
  {{/if}}
  <link rel="stylesheet" href="/main.css">
</head>
