<head>
  <meta charset="utf-8">

  {{#if permalink}}
    <title>{{ title }} | {{ site.title }}</title>
  {{ else }}
    <title>{{ site.title }}</title>
  {{/if}}
  <title>Tacoma.js</title>
  <link rel="stylesheet" href="/main.css">
</head>
