{{#extend 'default'}}
  {{#content 'main'}}
    <section class="Container--lg u-mxa u-px3">
      <article>
        {{{ this.contents }}}
      </article>
      {{> growth}}
    </section>
  {{/content}}
{{/extend}}
