{{#extend 'default'}}
  {{#content 'main'}}
    <section class='Container--lg u-mxa u-px3'>
      <article class='Post'>
        {{{ this.contents }}}
      </article>
      {{> growth}}
      {{> leaders }}
    </section>
  {{/content}}
{{/extend}}
